*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-container {
    width: 500px;
    margin: 30% 30%;
    padding: 20px;
    background-color: dodgerblue;
    box-shadow: 0 0 10px  ;
    border-radius: 10px;
    text-align: center;
    
}
h1{
    color: darkblue
}

input{
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 6px;
}

button{
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: green;
    cursor: pointer;
}

.btnSupr{
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 10px;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    border-bottom: 1px solid black;
}

li:last-child{
    border-bottom: none;
}

